*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: cyan;
    height: 100vh;
    margin: 0 auto; 
}

header {
    width: 100%;
    background-position: center;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.liste {
    font-size: 30px;
    word-spacing: 8px;
    position: fixed;
}

.liste a {
    font-family: jaini;
    font-weight: 400;
    font-size: 35px;
    align-items: center;
    color: black;
}

.hero-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-image {
    width: 30%;
    object-fit: cover;
}

.titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Charmonman;
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    letter-spacing: 6px;
}

.titre-1 {
    padding-top: 10px;
}

.header-image {
    width: 20%;
    border-radius: 500px 500px 10px 10px;
    object-fit: cover;
}



/* section-presentation */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}

/* .section-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.petit-titre {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.titre-milieu {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
}

.image-milieu {
    width: 80%;
    border-radius: 50px;
    
}

.infos {
    display: flex;
    gap: 50px;
}

.blocs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
    width: 150px;
    padding: 25px;
    text-transform: uppercase;
}

.texte {
    padding-top: 25px;
}

.container-paragraphe {
    margin: 0 auto;
}