.container {
    padding: 15px;
}

.container-infos {
    width: 15%;
    background-color: red;
}

.nom {
    text-transform: uppercase;
}

.boutonretouaccueil {
    font-size: 30px;
    background-color: black;
    color: red;
}