*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
}

header {
   display: flex;
   justify-content: center;
   margin: 0 auto;
   gap: 20px;
   border: 10px solid black;
   background-color: red;
   width: 80%;
}

.image-profil {
    padding: 10px;
    width: 20%;
    height: 50%;
    object-fit: cover; 
}

.titre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
}

.titre-1 {
    font-size: 140px;
    font-weight: 700;
    text-transform: uppercase;
}

.titre-2 {
    font-size: 70px;
}

/* BLOCKS */

.container {
    border: 10px solid black;
    
    text-transform: uppercase;
    margin: 0 auto;
    width: 40%;
 }
 
.fond-texte {
    width: 100%;
    height: 100%;
    background-color: white;
}
 
p {
    font-size: 20px;
}
 
.bordure-titre {
    display: flex;
    justify-content: center;
    border-bottom: 10px solid black;
    background-color: red;
    width: 100%;
    gap: 15px;
}