body {
    margin: 0 auto;
    background-color: blueviolet;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liste {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

.liste a {
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-family: "Noto Serif JP";
    font-weight: 700;
    font-size: 50px;
    text-decoration: none;
    margin: 0 10px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
  font-size: 80px;
  text-transform: uppercase;
  color: white;  
}

.bouton {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    font-size: 50px;
    text-decoration: none;
    border: 3px solid black;
    color: white;
    text-transform: uppercase;
}

