*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: #2373B8;
    margin: 0 auto;
}

/* titrepage */

.titrepage {
    display: flex;
    justify-content: center;
    font-size: 120px;
    text-transform: uppercase;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: center;
}


.liste {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; /* Taille de la police */
    position: fixed; /* Positionnement fixe */
    background-color: whitesmoke;
    width: 100%;
    height: 8%;
    gap: 15px;
}

.titrepage {
    font-family: Tapestry; /* Police personnalisée */
    font-size: 110px; /* Taille de la police */
    font-weight: bold 700 italic; /* Poids de la police */
    text-transform: uppercase; /* Texte en majuscules */
    color: whitesmoke; /* Couleur du texte en noir */
    letter-spacing: 6px; /* Espacement entre les lettres */
}


.liste a {
    display: flex;
    font-family: Gideon Roman ; /* Police personnalisée */
    font-weight: 700; /* Poids de la police */
    font-size: 25px; /* Taille de la police */
    align-items: center; /* Alignement vertical au centre */
    color: black; /* Couleur du texte en noir */
    text-transform: uppercase;
    text-decoration: none;
}

/* container */

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding-bottom: 200px;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 450px;
    border-radius: 20px;
    background-color: whitesmoke;
}

.titrecard {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 auto;
}

.image {
    height: 300px;
    width: 90%;
}

.modif-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bouton {
    padding-top: 10px;
}

/* FOOTER */ 

footer {
    width: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 5px;
}

.liste-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: Gideon Roman ; /* Police personnalisée */
    font-weight: 700; /* Poids de la police */
    font-size: 25px; /* Taille de la police */
    align-items: center; /* Alignement vertical au centre */
    color: black; /* Couleur du texte en noir */
    text-transform: uppercase;
    
}

.prenom {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: Gideon Roman ; /* Police personnalisée */
    font-weight: 700; /* Poids de la police */
    color: black; /* Couleur du texte en noir */
    text-transform: uppercase;
}

.liste-footer a {
    color: black;
    text-decoration: none; 
}

.lien-reseaux {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icon {
    padding: 10px;
}

.bouton {
    display: flex;
    justify-content: center;
    flex-direction: row;
}